<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	<head>
		<!-- Main.tpl.htm -->
		<meta charset="utf-8" />

		<title>{tmpl_var name="company_name"}{tmpl_var name="app_title"}</title>

		<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1" />
		<meta name="description" lang="en" content="" />
		<meta name="keywords" lang="en" content="" />
		<meta name="robots" content="noindex, nofollow" />

		<link rel="apple-touch-icon" sizes="180x180" href="/themes/{tmpl_var name='current_theme'}/assets/favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/themes/{tmpl_var name='current_theme'}/assets/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/themes/{tmpl_var name='current_theme'}/assets/favicon/favicon-16x16.png" />
		<link rel="manifest" href="/themes/{tmpl_var name='current_theme'}/assets/favicon/site.webmanifest" />
		<link rel="mask-icon" href="/themes/{tmpl_var name='current_theme'}/assets/favicon/safari-pinned-tab.svg" color="#cc151c" />
		<link rel="shortcut icon" href="/themes/{tmpl_var name='current_theme'}/assets/favicon/favicon.ico" />
		<meta name="msapplication-TileColor" content="#cc151c" />
		<meta name="msapplication-config" content="/themes/{tmpl_var name='current_theme'}/assets/favicon/browserconfig.xml" />

		<link rel="stylesheet" href="/themes/{tmpl_var name='current_theme'}/assets/stylesheets/bootstrap/5.3.1/bootstrap.min.css" />

		<link rel="stylesheet" href="/themes/{tmpl_var name='current_theme'}/assets/stylesheets/font-awesome/6.4.2/all.min.css" />
		<link rel="stylesheet" href="/themes/{tmpl_var name='current_theme'}/assets/stylesheets/font-awesome/6.4.2/brands.min.css" />
		<link rel="stylesheet" href="/themes/{tmpl_var name='current_theme'}/assets/stylesheets/font-awesome/6.4.2/solid.min.css" />

		<link rel="stylesheet" href="/themes/{tmpl_var name='current_theme'}/assets/stylesheets/theme.css" />

		<link rel="stylesheet" href="/themes/{tmpl_var name='current_theme'}/assets/stylesheets/ispconfig/fonts.css" />
	</head>

	<body class="container d-flex text-center text-bg-dark flex-grow-1">
		<div class="p-3 mx-auto container-fluid">
			<header class="mb-auto align-self-center text-bg-dark container-fluid">
				<div class="row">
					<div class="col-lg-auto justify-content-start">
						<!-- logo -->
						<a href="#" class="text-decoration-none"><img id="logo" src='{tmpl_var name="base64_logo_txt"}' /></a>
					</div>
					<div class="col-md-auto justify-content-end offset-md-4">
						{tmpl_if name='datalog_changes_count' op='>' value='0'}
						<button type="button" class="btn btn-outline-warning text-end" data-bs-toggle="modal" data-bs-target="#pendingChangesModal">{tmpl_var name="datalog_changes_count"}</button>
						<!-- Modal for Pending Changes -->
						<div class="modal fade" id="pendingChangesModal" tabindex="-1" aria-labelledby="pendingChangesModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="pendingChangesModallLabel">{tmpl_var name="datalog_changes_txt"}</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<ul>
											<tmpl_loop name="datalog_changes">
												<li><strong>{tmpl_var name="text"}:</strong> {tmpl_var name="count"}</li>
											</tmpl_loop>
										</ul>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{tmpl_var name="datalog_changes_close_txt"}</button>
									</div>
								</div>
							</div>
						</div>
						{/tmpl_if}
					</div>
					<div class="col-md-auto justify-content-end">
						<!-- search field -->
						<form action="#" method="get" id="searchform" role="form">
							<div class="input-group">
								<input id="globalsearch" type="text" class="form-control" placeholder='{tmpl_var name="globalsearch_searchfield_watermark_txt"}' aria-label='{tmpl_var name="globalsearch_searchfield_watermark_txt"}' aria-describedby="search-addon" />
								<span class="input-group-btn" id="search-addon">
									<button class="btn btn-default" title='{tmpl_var name="globalsearch_searchfield_watermark_txt"}'>
										<i class="fa-solid fa-magnifying-glass"></i>
									</button>
								</span>
							</div>
						</form>
					</div>
					<!-- logout button -->
					{tmpl_if name="cpuser"}
					<div class="col-md-auto justify-content-end">
						<a role="button" id="logout-button" class="btn btn-sm btn-outline-danger text-uppercase" href="login/logout.php">{tmpl_var name="logout_txt"} {tmpl_var name="cpuser"}</a>
					</div>
					{tmpl_if name='usertype' op='==' value='normaluser'} {/tmpl_if} {/tmpl_if}
				</div>
				<div class="row">
					<!-- Menu Buttons -->
					{tmpl_if name='logged_in' value='y'}
					<div id="topnav-container" class="col container-fluid">
					</div>
					{/tmpl_if}
				</div>
			</header>
			<main class="px-3">
				<div class="row">
					<div class="col col-sm-2">
						<!-- news sidebar -->
						{tmpl_if name='logged_in' value='y'}
						<div id="sidebar" class="news-sidebar left text-start"></div>
						{/tmpl_if}
					</div>
					<div class="col container-fluid">
						<!-- content -->
						<div id="content" class="container-fluid">
							<noscript>This page needs JavaScript to be enabled.</noscript>
							<form method="post" action="" id="pageForm" name="pageForm" enctype="multipart/form-data" class="form-control container-fluid" role="form">
								<div id="pageContent" data-startpage='{tmpl_var name="startpage"}'>
									<!-- AJAX CONTENT -->
								</div>
							</form>
						</div>
					</div>
				</div>
			</main>
			<footer class="mt-auto text-white-50 position-absolute bottom-0 start-50 translate-middle-x">
				<p>Powered by <a href='{tmpl_var name="app_link"}' target="_blank">{tmpl_var name="app_title"}</a></p>
			</footer>
		</div>
		<script type="text/javascript" src="/themes/{tmpl_var name='current_theme'}/assets/javascripts/jquery/3.7.1/jquery-3.7.1.min.js"></script>
		<script src="/themes/{tmpl_var name='current_theme'}/assets/javascripts/bootstrap/5.3.1/bootstrap.bundle.min.js"></script>
		<script src="/themes/{tmpl_var name='current_theme'}/assets/javascripts/ispconfig/ispconfig.js"></script>
		<script src="js/scrigo.js.php"></script>
		<script type="text/javascript" src="js/jquery.ispconfigsearch.js"></script>
		<script type="text/javascript" src="js/jquery.tipsy.js"></script>
		{tmpl_loop name="js_d_includes">
		<script type="text/javascript" src="js/js.d/{tmpl_var name='file'}"></script>
		{/tmpl_loop}
		<script>
			<!--
			//$('.ttip').tipsy({live: true, gravity: 'ne', html: true});

			ISPConfig.tabChangeDiscard = '{tmpl_var name="tabchange_discard_enabled"}';
			ISPConfig.tabChangeWarning = '{tmpl_var name="tabchange_warning_enabled"}';
			ISPConfig.tabChangeWarningTxt = '{tmpl_var name="global_tabchange_warning_txt"}';
			ISPConfig.tabChangeDiscardTxt = '{tmpl_var name="global_tabchange_discard_txt"}';

			{tmpl_if name="use_loadindicator" value="y"}ISPConfig.setOption('useLoadIndicator', true);{/tmpl_if}
			{tmpl_if name="use_combobox" value="y"}ISPConfig.setOption('useComboBox', true);{/tmpl_if}

			$(document).ready(function() {
			$('#globalsearch').ispconfigSearch({
			dataSrc: '/dashboard/ajax_get_json.php?type=globalsearch',
			resultsLimit: '$ {tmpl_var name="globalsearch_resultslimit_of_txt"} % {tmpl_var name="globalsearch_resultslimit_results_txt"}',
			noResultsText: '{tmpl_var name="globalsearch_noresults_text_txt"}',
			noResultsLimit: '{tmpl_var name="globalsearch_noresults_limit_txt"}',
			searchFieldWatermark: '{tmpl_var name="globalsearch_searchfield_watermark_txt"}',
			resultBoxPosition: ''
			});

			ISPConfig.loadInitContent();

			});
			//-->
		</script>
	</body>
</html>
