<!-- SideNav.tpl.htm -->
<ul class="nav list-unstyled ps-0 flex-column">
	{tmpl_loop name="nav_left"}
	<li class="mb-1 list-group-item list-group-item-light">
		{tmpl_if name="title"}
		<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#collapsible-{tmpl_var name='title' escape='url' format='lc'}" aria-expanded="true">{tmpl_var name='title'}</button>
		<div class="collapse show" id="collapsible-{tmpl_var name='title' escape='url' format='lc'}">
			<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				{/tmpl_if} {tmpl_loop name="items"}
				<li class="list-group-item list-group-item-action list-group-item-secondary">
					{tmpl_if name="link"} {tmpl_if name="target" op="==" value="_blank"}
					<a href="{tmpl_var name='link'}" target="_blank" class="link-opacity-50-hover link-offset-2 link-underline link-underline-opacity-0">{tmpl_if name="title"}{tmpl_var name="title"}{/tmpl_if} {tmpl_if name="image"}{tmpl_var name="image"}{/tmpl_if}</a>
					{tmpl_elseif name="target" op="==" value="_top"}
					<a href="{tmpl_var name='link'}" target="_top" class="link-opacity-50-hover link-offset-2 link-underline link-underline-opacity-0">{tmpl_if name="title"}{tmpl_var name="title"}{/tmpl_if} {tmpl_if name="image"}{tmpl_var name="image"}{/tmpl_if}</a>
					{tmpl_else}
					<a href="#" data-load-content="{tmpl_var name='link'}" class="link-opacity-50-hover link-offset-2 link-underline link-underline-opacity-0">{tmpl_if name="title"}{tmpl_var name="title"}{/tmpl_if} {tmpl_if name="image"}{tmpl_var name="image"}{/tmpl_if}</a>
					{/tmpl_if} {/tmpl_if}
				</li>
				{/tmpl_loop}
			</ul>
		</div>
	</li>
	{/tmpl_loop}
</ul>
