<!-- Tabbed_Form.tpl.htm -->
{tmpl_if name="form_hint"}
<div>
	<h1>{tmpl_var name="form_hint"}</h1>
</div>
{/tmpl_if}
{tmpl_if name="msg"}
<div class="alert alert-danger d-flex align-items-center" role="alert">
	<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label='Alert'>
		<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
	</svg>
	<p>{tmpl_var name="msg"}</p>
</div>
{/tmpl_if}
{tmpl_if name="error"}
<div class="alert alert-danger d-flex align-items-center" role="alert">
	<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label='Alert:{tmpl_var name="error_txt"}'>
		<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
	</svg>
	<div class="alert-heading">{tmpl_var name="error_txt"}</div>
	<p>{tmpl_var name="error"}</p>
</div>
{/tmpl_if}

	<!-- content in tabs -->
	<div>
		<!-- tabs -->
		<nav id='main-navigation' class="navbar navbar-expand-lg bg-dark pb-0 mb-0 border-bottom" data-bs-theme="dark" aria-label="Main Menu">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="offcanvasNavbar2">
					<ul class="nav nav-tabs">
						{tmpl_loop name="formTab"}
						<li class="nav-item">
							<a {tmpl_if name="active"} class="nav-link active" aria-disabled="false" aria-current='{tmpl_var name="title"}' {tmpl_else} class="nav-link" aria-disabled="false" {/tmpl_if} aria-current="page" href='#' onclick='return ISPConfig.changeTab("{tmpl_var name='name'}","{tmpl_var name='app_module'}/{tmpl_var name='form_action'}")'>
								{tmpl_var name="title"}
							</a>
						</li>
						{/tmpl_loop}
					</ul>
				</div>
			</div>
		</nav>

		<div id="tabbox_content" class="bg-info-subtle">
			<div>
				{tmpl_dyninclude name="content_tpl"}
			</div>
		</div>

		<input type="hidden" name="_csrf_id" value="{tmpl_var name='_csrf_id'}" />
		<input type="hidden" name="_csrf_key" value="{tmpl_var name='_csrf_key'}" />
		<input type="hidden" name="next_tab" value="">
		<input type="hidden" name="phpsessid" value="{tmpl_var name='phpsessid'}">
	</div>